{% extends '@SymsiteTheme/layout/8-4.html.twig' %}

{% block title %}Right Sidebar{% endblock %}
{% block body_id %}right_sidebar{% endblock %}

{% block header %}
    {% include '@SymsiteTheme/include/_header.html.twig' with {
        'title': 'Right Sidebar',
        'lead': 'Sample for right sidebar'
    } %}
{% endblock %}

{% block content %}
    <img class="img-responsive" src="bundles/symsitetheme/img/placeholder/900x300.gif" alt="placeholder">

    <h1>HHeader1</h1>
    <h2>Header2</h2>
    <h3>Header3</h3>

    <ul>
        <li>List1</li>
        <li>List2</li>
        <li>List3</li>
    </ul>
{% endblock %}

{% block sidebar %}
    <p><img class="img-responsive" src="bundles/symsitetheme/img/placeholder/300x100.gif" alt="placeholder"></p>
    <p><img class="img-responsive" src="bundles/symsitetheme/img/placeholder/300x100.gif" alt="placeholder"></p>
    <p><img class="img-responsive" src="bundles/symsitetheme/img/placeholder/300x100.gif" alt="placeholder"></p>
    <p><img class="img-responsive" src="bundles/symsitetheme/img/placeholder/300x100.gif" alt="placeholder"></p>
    <p><img class="img-responsive" src="bundles/symsitetheme/img/placeholder/300x100.gif" alt="placeholder"></p>
{% endblock %}
