<div class="panel panel-default">
    <div class="panel-heading">
        <b>Tag</b>
    </div>
    <div class="list-group">
        <a href="" class="list-group-item">Tag N</a>
        <a href="" class="list-group-item">Tag N</a>
        <a href="" class="list-group-item">Tag N</a>
        <a href="" class="list-group-item">Tag N</a>
        <a href="" class="list-group-item">Tag N</a>
    </div>
</div>

<p><img class="img-thumbnail width100" src="/img/placeholder/300x100.gif" alt="placeholder"></p>
<p><img class="img-thumbnail width100" src="/img/placeholder/300x100.gif" alt="placeholder"></p>
<p><img class="img-thumbnail width100" src="/img/placeholder/300x100.gif" alt="placeholder"></p>
<p><img class="img-thumbnail width100" src="/img/placeholder/300x100.gif" alt="placeholder"></p>
