<div class="panel panel-default">
    <div class="panel-heading">
        <b>{{ 'Menu'|trans }}</b>
    </div>
    <div class="list-group">
        <a href="#" class="list-group-item">{{ 'Blog'|trans }}</a>
        <a href="#" class="list-group-item">{{ 'File'|trans }}</a>
    </div>
</div>
